.env
.users

# Python
__pycache__/
test_files
*.pyc
*.pyo
*.pyd

# Virtual environment
tally-env/
venv/
.venv/

# Django
*.sqlite3
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
